<h4>Internal server error - refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">
        Error: {{error.message}}
    </h5>
    <p class="font-weight-bold">
        If you are seeing this, Angular is probably not to blame
    </p>
    <p>What to do next?</p>
    <ol>
        <li>Open the chrom dev tool</li>
        <li>Open the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman - if you see the same error then Angular is not the problem</li>
    </ol>
    <p>Following is the stack trace - it is where your investigation should start!</p>
    <code class="mt-5" style="background-color: whitesmoke">{{error.details}}</code>
    
</ng-container>